<h1>Task一覧</h1>
<ul>
    <% @tasks.each do |onetask| %>
        <li>
            <%= link_to onetask.id, task_path(onetask) %>
            :
            <%= onetask.content %>
        </li>
    <% end %>
</ul>

<%= link_to '新規Taskの投稿', new_task_path %>